*.iml
**/*/*.iml
.gradle
**/*/.gradle
local.properties
**/*/local.properties
.idea
**/*/.idea
.kotlin
**/*/.kotlin
.git
**/*/.git
.DS_Store
**/*/.DS_Store
build
**/*/build
captures
**/*/captures
.externalNativeBuild
**/*/.externalNativeBuild
.cxx
**/*/.cxx